<div class="list" id="list-<%= list.id %>">
  <h2>
    <%= list.name %>
    <small class="actions">
      <%= link_to t('.rename'), edit_list_path(list), class: 'rename-link' %>
      <% unless list.default? %>
        | <%= link_to t('.delete'), list_path(list), data: { remote: true, method: :delete }, class: 'delete-link' %>
      <% end %>
    </small>
  </h2>
  <ul class="movies">
    <% if list.movies.any? %>
      <% presentable_movies(list).each do |movie| %>
        <%= render partial: 'movie', locals: { movie: movie } %>
      <% end %>
      <% if show_more_link?(list) %>
        <li class="movie more"><%= t('.more') %></li>
      <% end %>
    <% end %>
  </ul>
</div>
