<% full_mode ||= false %>
<div class="list" id="list-<%= list.id %>">
  <h2>
    <%= list.name %>
    <small class="actions">
      <%= link_to t('.rename'), edit_list_path(list), class: 'rename-link' %>
      <% unless list.default? %>
        | <%= link_to t('.delete'), list_path(list), data: { remote: true, method: :delete }, class: 'delete-link' %>
      <% end %>
    </small>
  </h2>
  <div class="movies">
    <% if list.movies.any? %>
      <% presentable_movies(list, full_mode).each do |movie| %>
        <%= render partial: 'movie', locals: { movie: movie } %>
      <% end %>
      <% if show_more_link?(list) && !full_mode %>
        <div class="movie more">
          <%= link_to t('.more'), list_path(list) %>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
