<% movies.each do |movie| %>
  <div class="movie <%= 'imdb' if movie.imdb? %>">
    <div class="movie-details">
      <h3 class="movie-title">
        <%= movie.title %>
        <% if movie.imdb? %>
          <small>
            <%= link_to t('.this_movie_on_imdb'), imdb_url(movie) %>
          </small>
        <% end %>
      </h3>
    </div>
    <div class="movie-actions">
      <% if user_signed_in? %>
        <% if user_has_movie?(current_user, movie) %>
          <%= button_tag t('.remove_from_list'), class: 'btn btn-default remove-from-default-list', data: { href: movie_path(movie.id), id: movie.id, removed: t('.removed_from_list') } %>
        <% else %>
          <%= button_tag t('.add_to_list'), class: 'btn btn-default add-to-default-list', data: { href: movies_path, id: movie.id, title: movie.title, added: t('.added_to_list') } %>
        <% end %>
      <% else %>
        <%= link_to t('.register_to_add'), new_user_registration_path(m: @query), class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
<% end %>
