<% content_for :header do %>
  <%= render partial: 'layouts/app_header' %>
<% end %>

<div class="movie">
  <div class="poster">
    <%= image_tag @movie.poster, class: 'img-responsive poster' %>
  </div>
  <div class="body">
    <h1><%= @movie.title %> <small><%= @movie.tagline %></small></h1>
    <% if @movie.loaded? %>
      <p class="plot-summary">"<%= @movie.plot_summary %>"</p>
      <h3><%= t('.data') %></h3>
      <dl>
        <dt><%= t('.directed_by') %></dt>
        <dd><%= @movie.directors %></dd>
        <dt><%= t('.starring') %></dt>
        <dd><%= @movie.cast %></dd>
        <dt><%= t('.year') %></dt>
        <dd><%= @movie.year %></dd>
      </dl>
    <% else %>
      <p><em><%== t('.movie_being_loaded') %></em></p>
    <% end %>
    <div class="note-section">
      <h3><%= t('.your_notes') %></h3>
      <% if @movie.notes.present? %>
        <p class="notes"><%=h @movie.notes %></p>
      <% else %>
        <p class="notes"><%= t('.no_notes') %></p>
      <% end %>
      <div class="notes hidden">
        <%= form_for(@movie.movie, data: {remote: true}, html: { method: :patch }) do |f| %>
          <div class="form-group">
            <%= f.text_area :notes, class: 'form-control', placeholder: t('.add_notes', movie: @movie.title) %>
          </div>
          <%= f.submit t('.save_notes'), class: 'btn btn-default', data: { disable_with: t('.saving') } %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'lists', locals: { heading: t('.lists_to_remove'), remove: true, movie: @movie.movie, lists: @movie.lists } %>
    <%= render partial: 'lists', locals: { heading: t('.lists_to_add'), remove: false,  movie: @movie.movie, lists: @movie.possible_lists } %>
  </div>
</div>
