<div class="intro">
  <%= render partial: 'logo' %>
  <div class="hero">
    <div class="wrapper">
      <h1 class="catchy"><%= t('.hero_intro') %> <br><small><%= t('.hero_intro_sub') %></small></h1>
    </div>
  </div>
  <div class="options">
    <div class="wrapper">
      <form action="/search" action="get" class="form">
        <label for="movie" class="control-label hidden"><%= t('.favourite_movie') %></label>
        <input name="m" class="form-control" required type="text" id="movie" placeholder="<%= t('.favourite_movie') %>">
        <input type="submit" id="submit" class="hidden" value="Search">
      </form>
      <% if user_signed_in?(true) %>
        <h3 class="welcome-back"><%= t('.welcome_back') %></h3>
        <%= link_to t('.go_to_collection'), '#', class: 'btn btn-default', id: 'collection-link' %>
      <% end %>
    </div>
  </div>
</div>

