<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
     <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= t('.meta_description') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="body--<%= controller.controller_name %>--<%= controller.action_name %>">
    <%= content_for :header %>
    <div class="container">
      <%= yield %>
    </div>
    <%= content_for :footer %>
    <%= javascript_include_tag 'application' %>
    <%# this turns animations off in testing %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
  </body>
</html>
